@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";

* {
  font-family: "Outfit", sans-serif !important;
  box-sizing: border-box !important;
  
}

.container {
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.btn {
  background: #fff;
  color: #212121;
  padding: 10px 20px !important;
  font-size: 16px !important;
  border-radius: 30px !important;
  cursor: pointer !important;
  border: 0 !important;
  outline: 0 !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn img {
  width: 20px;
  margin-left: 10px;
}

.btn.dark-btn {
  color: #fff;
  background: #212ea2;
}


 .rgb-border-btn {
 
  font-size: 16px;
   color: white;             
  background: #111;     
  border: 4px solid transparent;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.rgb-border-btn::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background: linear-gradient(45deg, red, yellow, lime, cyan, blue, magenta, red);
  background-size: 400%;
  z-index: -1;
  border-radius: inherit;
  animation: rgbMove 5s linear infinite;
}

@keyframes rgbMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

